    #header {
        display: flex;
        background-color: #3a3636dc;
        color: white;
        border-radius: 20px;
    }
    #logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        text-align: center;

    }
    #name {
        width: 80%;
        font-size: 50px;
        text-align: center;

    }
body {
    font-family: Verdana;
    
}

#contact{
    top: 20px;
    text-align: center;
    padding: 30px 40px;
    border-style: solid;
    border-width: 2px;
    margin:10px;
    background-color: #ab3212;
}




#projects {
    top: 20px;
    text-align: center;
    float: right;
    width: 40%;
    padding: 30px 40px;
    border-style: solid;
    border-width: 2px;
    background-color: #ab3212;
}

#footer{
    background-color:#e2d5c2;
    font-size:30px;
    display:flex;
    text-align: left;
    padding:10px;
    justify-content: space-around;
    border-radius: 20px;
}

#napis{
    font-size:10px;
    color:black;
    text-align:right;
}
